# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# TypeScript build info files
tsconfig.tsbuildinfo
*.tsbuildinfo

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

*storybook.log
storybook-static



.nx/cache
.nx/workspace-data
.nx/migrate-runs